.boton_volar{
    text-decoration: none;
    padding: 100px, 500px;
    font-weight: 600;
    font-size: 200px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 60px;
    border: 10px solid #0016b0;
}

.boton_volar:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

  .boton_1{
      text-decoration: none;
      padding: 100px, 500px;
      font-weight: 600;
      font-size: 200px;
      color: #ffffff;
      background-color: #1883ba;
      border-radius: 60px;
      border: 10px solid #0016b0;
  }

  .boton_1:hover{
      color: #1883ba;
      background-color: #ffffff;
    }

    .boton_2{
        text-decoration: none;
        padding: 100px, 500px;
        font-weight: 600;
        font-size: 200px;
        color: #ffffff;
        background-color: #1883ba;
        border-radius: 60px;
        border: 10px solid #0016b0;
    }

    .boton_2:hover{
        color: #1883ba;
        background-color: #ffffff;
      }
